<div style="min-height: 100%;background-color: rgb(243, 243, 243);margin-top: 0%;">

    <div class="container">
        <h3 class="p-4">Notification</h3>
        <div class="d-flex">
            <div class="w-25 me-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>All</option>
                    <option value="1">10th</option>
                    <option value="2">9th</option>
                    <option value="3">8th</option>
                </select>
            </div>
            <div class="input-group w-25">
                <input type="text" class="form-control" placeholder="Search.." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" style="background-color: gray;" type="button"><i
                            class="fa fa-search"></i></button>
                </div>

            </div>
            <!-- Modal -->
            <!-- Button trigger modal -->
            <div class="ms-5"><button type="button" class="btn btn-success " data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Add notification</button></div>
        </div>
        <!-- Add Students Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control"
                                placeholder="Notification name Name" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control" placeholder="Link" />
                        </div>

                        <div class="form-outline mb-4 ">
                            <input type="date" id="form3Example3" class="form-control" placeholder="Date" />
                        </div>

                        <div class="form-check">
                            <label class="mr-5" for="">Status :</label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label mr-5" for="flexRadioDefault1">
                                Active
                            </label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Not Active
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary ">Save </button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->


        <!-- Table -->

        <table class="table mt-4" style="background-color: white;">
            <thead>
                <tr>
                    <th scope="col">Notification no</th>
                    <th scope="col">Notification </th>
                    <th scope="col">Status</th>
                    <th scope="col">Link</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Exam </td>
                    <td style="color: green;">Active </td>
                    <td>....</td>
                    <td style="color: gray;">
                        <a data-bs-toggle="modal" data-bs-target="#editModal" class="mr-4"><i
                                class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Exam </td>
                    <td style="color: green;">Active </td>
                    <td>....</td>
                    <td style="color: gray;">
                        <a data-bs-toggle="modal" data-bs-target="#editModal" class="mr-4"><i
                                class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Exam </td>
                    <td style="color: green;">Active </td>
                    <td>....</td>
                    <td style="color: gray;">
                        <a data-bs-toggle="modal" data-bs-target="#editModal" class="mr-4"><i
                                class="fas fa-edit"></i></a>
                        <a data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- notification Edit Modal -->

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Notification</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control"
                                placeholder="Notification name Name" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control" placeholder="Link" />
                        </div>

                        <div class="form-outline mb-4 ">
                            <input type="date" id="form3Example3" class="form-control" placeholder="Date" />
                        </div>

                        <div class="form-check">
                            <label class="mr-5" for="">Status :</label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label mr-5" for="flexRadioDefault1">
                                Active
                            </label>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Not Active
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save </button>
                    </div>
                </div>
            </div>
        </div>



        <!--notification delete Modal -->

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>


                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div>
                        <p class="pt-2 fs-5" style="text-align: center;">Are you sure !!!</p>
                    </div>
                    <div class="form-outline mb-4 w-100 d-flex justify-content-center">
                        <button type="button" class="btn btn-danger me-1 w-25">Yes</button>
                        <button type="button" class="btn btn-success ms-1 w-25">No</button>
                    </div>



                </div>

            </div>