#dob{
    margin-top: -62px;
    margin-left: 200px;
}
#parent_number{
    margin-top: -62px;
    margin-left: 200px;


}
#selector1{
    margin-top: -30px;
    margin-left: 80px;

}
#selector2{
    margin-top: -24px;
    margin-left: 160px;
}