<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-lg-start" style="background-color: hsl(0, 0%, 96%);height: 100%;">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">

            <!-- col-1 institution name and details -->
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3  ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eveniet, itaque accusantium odio, soluta, corrupti aliquam
              quibusdam tempora at cupiditate quis eum maiores libero
              veritatis? Dicta facilis sint aliquid ipsum atque?
            </p>
          </div>

          <!-- Sign up page -->
  
          <div class="col-lg-6 mb-lg-0" >
            <div class="card " style="width: 90%;" >
              <div class="card-body py-5 px-md-5" >
                <form style="margin-top: -15%;">
                    <h3 class="my-5 display-4 ls-tight">Sign in</h3>
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" placeholder="Full Name"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control" placeholder="Parent Name"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>

                  
                  <div class="form-outline mb-4 w-50">
                    <input type="text "  id="form3Example3" class="form-control " placeholder="Course"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->

                  </div>
                  <div id="dob" class="form-outline mb-4 w-50">
                    <input type="date" id="form3Example3" class="form-control" placeholder="DOB"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>


                  <div class="form-outline mb-4 w-50">
                    <input type="number" id="form3Example3" class="form-control" placeholder="Student Phone"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>

                  <div id="parent_number" class="form-outline mb-4 w-50">
                    <input type="number" id="form3Example3" class="form-control" placeholder="Parent Phone"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>

                  <div class="form-outline mb-4 ">
                    <input type="text" id="form3Example3"  class="form-control" placeholder="Address"/>
                    <!-- <label class="form-label" for="form3Example3">Email address</label> -->
                  </div>
                  <label for="">Gender</label>
                  <div id="selector1" class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Male
                    </label>
                    
                    
                  </div>
                  <div id="selector2" class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Female
                    </label>
                  </div><hr>

                  <!-- Submit button -->
                  <button routerLink="/" type="submit" class="btn btn-primary btn-block mb-4">
                    Sign in
                  </button>




  
                  <!-- Register buttons -->
                  <div class="text-center">
                    <p><a style="color: gray;" routerLink="/">or sign In with:</a></p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->